*{margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;}
body{}
/* header */
header{background: #fff;
    padding: 0px;}
.header img{}
.logo{    width: 20%;
    float: left;}
.logo img{}
nav{}
.header nav{}
.header nav ul li{}
.header nav img{}
.nav ul li img{}
.header nav ul{}
.header nav ul a{}
nav ul li a:hover{
    /* color: aliceblue; */
}
/* banner */
.banner{}
.banner img{}
.contaner{width:  1200px;
    margin:  0 auto;
    overflow:  hidden;
}
img{}
.bannar{}
